@import url("https://fonts.cdnfonts.com/css/neue-plak");
@import url("https://fonts.cdnfonts.com/css/gt-america-trial");
@import url("https://fonts.cdnfonts.com/css/futura-std-4");
@import url("https://fonts.cdnfonts.com/css/graphik-trial");
@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media only screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1025px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 769px) {
  html {
    font-size: 12px;
  }
}

a {
  color: #000;
  text-decoration: none;
}

input, textarea {
  outline: none;
  border: none;
}

ul {
  list-style: "-  ";
}

button {
  outline: none;
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.button_outline {
  border: 1px solid #03003e;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_outline:hover {
  text-shadow: 0 0 1px #03003e;
  box-shadow: 0 0 1px #03003e;
}

.button_filled {
  background-color: #03003e;
  color: #fcfcfc;
}

.animated_link, nav .nav_right > a, nav > .nav_middle > a {
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.animated_link > span, nav .nav_right > a > span, nav > .nav_middle > a > span {
  transition: transform 0.5s, opacity 0.3s;
  text-align: center;
}
.animated_link::before, nav .nav_right > a::before, nav > .nav_middle > a::before {
  width: 100%;
  text-align: center;
  content: attr(data-content);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65%);
  opacity: 0;
  transition: all 0.5s;
}
.animated_link:hover, nav .nav_right > a:hover, nav > .nav_middle > a:hover {
  text-shadow: 0 0 1px #03003e;
}
.animated_link:hover > span, nav .nav_right > a:hover > span, nav > .nav_middle > a:hover > span {
  display: inline-block;
  transform: translateY(-1rem);
  opacity: 0;
}
.animated_link:hover::before, nav .nav_right > a:hover::before, nav > .nav_middle > a:hover::before {
  transform: translateX(-50%) translateY(0%);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

body {
  min-height: 100%;
  width: 100%;
  background: #fbfbfb;
  background: url(/img/bg_zebra.png), linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fbfbfb 86%, #00c4f2 95%, #00c4f2 100%);
  background-size: 70px, auto;
  overflow-x: hidden;
  position: relative;
}

#request_project {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  padding: 1rem;
}
#request_project > h1 {
  font-size: 3rem;
  font-weight: 500;
}
#request_project > h1 > span {
  text-decoration: underline;
  text-decoration-color: #000dff;
  font-weight: 700;
}

nav {
  background-color: #fcfcfc;
  width: 98%;
  height: 45px;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 2;
  animation: nav_late 0.7s forwards;
  opacity: 0;
  transform: translateY(-2rem) translateX(-50%);
  animation-delay: 2.3s;
}
@keyframes nav_late {
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}
nav > .nav_left > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
nav > .nav_left > a > img {
  height: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
nav > .nav_left > a > span {
  font-size: 1.4rem;
}
nav > .nav_middle {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
nav .nav_right {
  display: none;
}
nav #menu_button {
  width: 3.5rem;
  aspect-ratio: 1/1;
  transform: translateX(10px);
  font-size: 1rem;
}
nav > menu {
  width: 100%;
  background-color: #fcfcfc;
  position: absolute;
  top: 50px;
  border-radius: 8px;
  left: 0;
  padding: 1rem;
  overflow: hidden;
  transition: 0.5s;
  transform: translateY(1rem) rotate(-2deg);
  opacity: 0;
  display: none;
}
nav > menu.opened_menu {
  display: block;
  animation: menu_open 0.5s forwards;
}
@keyframes menu_open {
  from {
    opacity: 0;
    transform: translateY(1rem) rotate(-2deg);
  }
  to {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
nav > menu > .menu_decoration {
  width: 35%;
  position: absolute;
  right: 0rem;
  top: -3rem;
  transform: rotate(-135deg);
}
nav > menu > .menu_decoration > svg .cls-1 {
  fill: none;
  stroke: #001b8e;
  stroke-miterlimit: 10;
  stroke-width: 0.75px;
}
nav > menu > .menu_upper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
nav > menu > .menu_upper > a {
  font-size: 1.5rem;
  font-weight: 500;
}
nav > menu > .menu_lower {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav > menu > .menu_lower > .menu_line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.2px;
  top: -0.5rem;
  background-color: #03003e;
}
@media screen and (min-width: 768px) {
  nav .nav_middle {
    display: flex;
  }
  nav .nav_right {
    display: flex;
  }
  nav #menu_button {
    display: none;
  }
}

main {
  width: calc(100% - 2vw);
  height: calc(100% - 2vw);
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
main .main_part {
  background-color: #fcfcfc;
  width: 100%;
}
main .main_part:nth-child(odd) {
  background: #ffffff;
  background: linear-gradient(0deg, #ffffff 70%, #7be5ff 100%);
}
main .main_part:nth-child(even) {
  background: #7be5ff;
  background: linear-gradient(0deg, #7be5ff 0%, #ffffff 100%);
}
main .main_part#main_part_1 {
  position: relative;
  height: 100vh;
  background-color: transparent !important;
  background: unset !important;
}
main .main_part#main_part_1::before {
  content: "";
  background-color: #fcfcfc;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  transform: translateX(-1vw) translateY(-1vh);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  animation: animate_part_1_bg 2s forwards linear;
  animation-delay: 1.5s;
}
@keyframes animate_part_1_bg {
  to {
    opacity: 0.4;
  }
}
main .main_part#main_part_1 > * {
  opacity: 0;
}
main .main_part#main_part_1 .background_image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: -32%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 1;
}
main .main_part#main_part_1 .background_image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 40%;
  position: relative;
  transform: translateX(-50%) translateY(50%) scale(2.5);
}
@media only screen and (min-width: 550px) {
  main .main_part#main_part_1 .background_image > img {
    transform: translateX(-50%) translateY(15%) scale(1.7) !important;
  }
}
@media only screen and (min-width: 850px) {
  main .main_part#main_part_1 .background_image > img {
    transform: translateX(-45%) translateY(-10%) scale(1) !important;
  }
}
@media only screen and (min-width: 1024px) {
  main .main_part#main_part_1 .background_image > img {
    transform: translateX(-45%) translateY(-20%) scale(0.8) !important;
  }
}
main .main_part#main_part_1 .background_image > svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 40%;
  position: relative;
  transform: translateX(-50%) translateY(50%) scale(2);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
  animation: animateDash 4s linear forwards;
}
@keyframes animateDash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animateDashReverse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
@media only screen and (min-width: 550px) {
  main .main_part#main_part_1 .background_image > svg {
    transform: translateX(-50%) translateY(15%) scale(1.7) !important;
  }
}
@media only screen and (min-width: 850px) {
  main .main_part#main_part_1 .background_image > svg {
    transform: translateX(-45%) translateY(-10%) scale(1) !important;
  }
}
@media only screen and (min-width: 1024px) {
  main .main_part#main_part_1 .background_image > svg {
    transform: translateX(-45%) translateY(-20%) scale(0.8) !important;
  }
}
main .main_part#main_part_1 .background_image > svg .cls-1 {
  opacity: 0.4;
}
main .main_part#main_part_1 .background_image > svg .cls-1, main .main_part#main_part_1 .background_image > svg .cls-2, main .main_part#main_part_1 .background_image > svg .cls-3, main .main_part#main_part_1 .background_image > svg .cls-4, main .main_part#main_part_1 .background_image > svg .cls-5, main .main_part#main_part_1 .background_image > svg .cls-6, main .main_part#main_part_1 .background_image > svg .cls-7, main .main_part#main_part_1 .background_image > svg .cls-8, main .main_part#main_part_1 .background_image > svg .cls-9, main .main_part#main_part_1 .background_image > svg .cls-10, main .main_part#main_part_1 .background_image > svg .cls-11, main .main_part#main_part_1 .background_image > svg .cls-12, main .main_part#main_part_1 .background_image > svg .cls-13, main .main_part#main_part_1 .background_image > svg .cls-14, main .main_part#main_part_1 .background_image > svg .cls-15, main .main_part#main_part_1 .background_image > svg .cls-16, main .main_part#main_part_1 .background_image > svg .cls-17, main .main_part#main_part_1 .background_image > svg .cls-18, main .main_part#main_part_1 .background_image > svg .cls-19, main .main_part#main_part_1 .background_image > svg .cls-20 {
  fill: none;
  stroke: #000367;
  stroke-miterlimit: 50;
  stroke-width: 3px;
}
main .main_part#main_part_1 .background_image > svg .cls-21 {
  -webkit-clip-path: url(#clippath-6);
          clip-path: url(#clippath-6);
}
main .main_part#main_part_1 .background_image > svg .cls-22 {
  -webkit-clip-path: url(#clippath-7);
          clip-path: url(#clippath-7);
}
main .main_part#main_part_1 .background_image > svg .cls-23 {
  -webkit-clip-path: url(#clippath-15);
          clip-path: url(#clippath-15);
}
main .main_part#main_part_1 .background_image > svg .cls-24 {
  -webkit-clip-path: url(#clippath-4);
          clip-path: url(#clippath-4);
}
main .main_part#main_part_1 .background_image > svg .cls-2 {
  opacity: 0.9;
}
main .main_part#main_part_1 .background_image > svg .cls-2, main .main_part#main_part_1 .background_image > svg .cls-5, main .main_part#main_part_1 .background_image > svg .cls-9, main .main_part#main_part_1 .background_image > svg .cls-15, main .main_part#main_part_1 .background_image > svg .cls-16, main .main_part#main_part_1 .background_image > svg .cls-17 {
  mix-blend-mode: multiply;
}
main .main_part#main_part_1 .background_image > svg .cls-3, main .main_part#main_part_1 .background_image > svg .cls-25, main .main_part#main_part_1 .background_image > svg .cls-18 {
  opacity: 0.3;
}
main .main_part#main_part_1 .background_image > svg .cls-3, main .main_part#main_part_1 .background_image > svg .cls-10, main .main_part#main_part_1 .background_image > svg .cls-11, main .main_part#main_part_1 .background_image > svg .cls-12, main .main_part#main_part_1 .background_image > svg .cls-26, main .main_part#main_part_1 .background_image > svg .cls-19 {
  mix-blend-mode: screen;
}
main .main_part#main_part_1 .background_image > svg .cls-4 {
  opacity: 0.08;
}
main .main_part#main_part_1 .background_image > svg .cls-27 {
  -webkit-clip-path: url(#clippath-9);
          clip-path: url(#clippath-9);
}
main .main_part#main_part_1 .background_image > svg .cls-28 {
  -webkit-clip-path: url(#clippath-10);
          clip-path: url(#clippath-10);
}
main .main_part#main_part_1 .background_image > svg .cls-29 {
  -webkit-mask: url(#mask);
          mask: url(#mask);
}
main .main_part#main_part_1 .background_image > svg .cls-5, main .main_part#main_part_1 .background_image > svg .cls-14 {
  opacity: 0.8;
}
main .main_part#main_part_1 .background_image > svg .cls-6, main .main_part#main_part_1 .background_image > svg .cls-11, main .main_part#main_part_1 .background_image > svg .cls-15 {
  opacity: 0.5;
}
main .main_part#main_part_1 .background_image > svg .cls-30 {
  -webkit-clip-path: url(#clippath-11);
          clip-path: url(#clippath-11);
}
main .main_part#main_part_1 .background_image > svg .cls-7 {
  opacity: 0.1;
}
main .main_part#main_part_1 .background_image > svg .cls-9, main .main_part#main_part_1 .background_image > svg .cls-31, main .main_part#main_part_1 .background_image > svg .cls-20 {
  opacity: 0.7;
}
main .main_part#main_part_1 .background_image > svg .cls-32 {
  -webkit-clip-path: url(#clippath-1);
          clip-path: url(#clippath-1);
}
main .main_part#main_part_1 .background_image > svg .cls-33 {
  isolation: isolate;
}
main .main_part#main_part_1 .background_image > svg .cls-34 {
  -webkit-clip-path: url(#clippath-5);
          clip-path: url(#clippath-5);
}
main .main_part#main_part_1 .background_image > svg .cls-35 {
  -webkit-clip-path: url(#clippath-8);
          clip-path: url(#clippath-8);
}
main .main_part#main_part_1 .background_image > svg .cls-36 {
  opacity: 0.91;
}
main .main_part#main_part_1 .background_image > svg .cls-12, main .main_part#main_part_1 .background_image > svg .cls-26, main .main_part#main_part_1 .background_image > svg .cls-13, main .main_part#main_part_1 .background_image > svg .cls-17 {
  opacity: 0.6;
}
main .main_part#main_part_1 .background_image > svg .cls-37 {
  -webkit-clip-path: url(#clippath-3);
          clip-path: url(#clippath-3);
}
main .main_part#main_part_1 .background_image > svg .cls-38 {
  -webkit-clip-path: url(#clippath-12);
          clip-path: url(#clippath-12);
}
main .main_part#main_part_1 .background_image > svg .cls-39 {
  -webkit-clip-path: url(#clippath-14);
          clip-path: url(#clippath-14);
}
main .main_part#main_part_1 .background_image > svg .cls-16, main .main_part#main_part_1 .background_image > svg .cls-19 {
  opacity: 0.2;
}
main .main_part#main_part_1 .background_image > svg .cls-40 {
  -webkit-clip-path: url(#clippath-2);
          clip-path: url(#clippath-2);
}
main .main_part#main_part_1 .background_image > svg .cls-41 {
  -webkit-clip-path: url(#clippath-13);
          clip-path: url(#clippath-13);
}
main .main_part#main_part_1 .background_image > svg .cls-42 {
  fill: url(#linear-gradient);
}
main .main_part#main_part_1 > .banner {
  position: relative;
  top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  align-items: center;
  opacity: 1;
}
main .main_part#main_part_1 > .banner > h1 {
  font-size: 2.8rem;
  text-align: center;
  width: 100%;
  font-weight: 600;
  color: #03003e;
  animation: banner_late 1s forwards;
  opacity: 0;
  transform: translateY(1rem);
  animation-delay: 2s;
}
@keyframes banner_late {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
main .main_part#main_part_1 > .banner > a {
  width: -moz-fit-content;
  width: fit-content;
  transform: scale(1.2);
  padding: 0.8rem 4rem;
  transition: 0.3s;
  border: 1px solid rgba(0, 13, 255, 0.4392156863);
  background-color: #fcfcfc;
  box-shadow: 1px 1px #03003e;
  opacity: 0;
  border-radius: 10px;
  animation: banner_late 1s forwards;
  opacity: 0;
  transform: translateY(1rem);
  animation-delay: 2.5s;
}
@keyframes banner_late {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
main .main_part#main_part_1 > .banner > a:hover {
  background-color: #03003e;
  color: #fcfcfc;
  border-radius: 30px;
  padding: 0.8rem 3.5rem;
}
main .main_part#main_part_2 {
  background-color: #fcfcfc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url(/img/bg_zebra.png);
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
}
main .main_part#main_part_2 > .banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
main .main_part#main_part_2 > .banner > h1 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}
main .main_part#main_part_2 > .banner > h1:nth-child(2) {
  opacity: 0.5;
}
main .main_part#main_part_2 > .banner > h1:nth-child(3) {
  opacity: 0.3;
}
main .main_part#main_part_2 > .part_header {
  width: 100%;
  margin-top: 7rem;
  font-size: 1.5rem;
}
main .main_part#main_part_2 > .part_header > p > span {
  font-weight: 600;
}
main .main_part#main_part_2 > .part_content {
  margin-top: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex-grow: 1;
}
main .main_part#main_part_2 > .part_content > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
main .main_part#main_part_2 > .part_content > div > h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
main .main_part#main_part_2 > .part_content > div > p {
  width: 70%;
}
main .main_part#main_part_2 > .part_content > div:nth-child(2) {
  align-items: flex-end;
  text-align: right;
}
@media screen and (min-width: 768px) {
  main .main_part#main_part_2 {
    padding: 5rem 5rem;
  }
  main .main_part#main_part_2 .part_header {
    width: 70%;
  }
  main .main_part#main_part_2 .part_content > div > p {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  main .main_part#main_part_2 {
    padding: 5rem 10rem;
  }
  main .main_part#main_part_2 .part_header {
    width: 55%;
  }
  main .main_part#main_part_2 .part_content > div p {
    width: 40%;
  }
}
main .main_part#main_part_3 {
  background-color: #fcfcfc;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
main .main_part#main_part_3 > .part_3_upper {
  height: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
main .main_part#main_part_3 > .part_3_upper > #part_3_line {
  font-size: 2.5rem;
  font-weight: 200;
  height: 5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
main .main_part#main_part_3 > .part_3_upper > .part_3_names {
  display: flex;
  align-items: center;
  text-align: center;
}
main .main_part#main_part_3 > .part_3_upper > .part_3_names > h1 {
  font-size: 1.2rem;
}
main .main_part#main_part_3 > .part_3_upper > .part_3_names > h1:nth-child(2) {
  font-size: 1.7rem;
  font-weight: 600;
}
main .main_part#main_part_3 .part_3_lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 3rem;
}
main .main_part#main_part_3 .part_3_lower .part_3_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6rem;
}
main .main_part#main_part_3 .part_3_lower .part_3_content > div {
  width: 60%;
}
main .main_part#main_part_3 .part_3_lower .part_3_content > div > img {
  width: 100%;
  height: 100%;
}
main .main_part#main_part_3 .part_3_lower > .part_3_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
main .main_part#main_part_3 .part_3_lower > .part_3_buttons > span {
  border-radius: 30px;
  width: 7rem;
  padding: 0.2rem 0;
  background-color: #000dff;
  color: #fcfcfc;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main_part#main_part_4 {
  background-color: #fcfcfc;
  padding: 2rem;
  padding-top: 7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  overflow: hidden;
}
main .main_part#main_part_4 * {
  position: relative;
}
main .main_part#main_part_4 > .decoration_box {
  position: absolute !important;
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}
main .main_part#main_part_4 > .decoration_box > div {
  position: absolute;
}
main .main_part#main_part_4 > .decoration_box > div > svg .cls-1 {
  fill: none;
  stroke: #000fb0;
  stroke-miterlimit: 10;
  stroke-width: 1px;
}
main .main_part#main_part_4 > .decoration_box > div > svg .cls-2 {
  isolation: isolate;
}
main .main_part#main_part_4 > .decoration_box > div:nth-child(1) {
  width: 32%;
  left: -4rem;
  top: 3rem;
}
main .main_part#main_part_4 > .decoration_box > div:nth-child(2) {
  width: 35%;
  right: -1rem;
  bottom: 7rem;
}
main .main_part#main_part_4 > .part_4_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
main .main_part#main_part_4 > .part_4_header > h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: right;
}
main .main_part#main_part_4 > .part_4_content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
main .main_part#main_part_4 > .part_4_content > h2 {
  font-size: 1.8rem;
  font-weight: 300;
}
main .main_part#main_part_4 > .part_4_content > div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .main_part#main_part_4 > .part_4_content > div h3 {
  font-weight: 500;
  transform: translateX(-1rem);
}
main .main_part#main_part_4 > .part_4_content > div ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .main_part#main_part_5 {
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .main_part#main_part_5 > div {
  width: 100%;
}
main .main_part#main_part_5 > .part_5_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
main .main_part#main_part_5 > .part_5_header > h1 {
  font-size: 2.3rem;
  font-weight: 600;
}
main .main_part#main_part_5 > .part_5_header > h2 {
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}
main .main_part#main_part_5 .part_5_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
main .main_part#main_part_5 .part_5_content > h3 {
  text-align: center;
  font-weight: 600;
}
main .main_part#main_part_5 .part_5_content > .part_5_form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 0 3rem;
}
main .main_part#main_part_5 .part_5_content > .part_5_form > .form_group {
  width: 100%;
  position: relative;
}
main .main_part#main_part_5 .part_5_content > .part_5_form > .form_group > input, main .main_part#main_part_5 .part_5_content > .part_5_form > .form_group textarea {
  width: 100%;
  padding: 1rem 1rem;
  border: 1px solid #03003e;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: transparent;
  position: relative;
}
main .main_part#main_part_5 .part_5_content > .part_5_form > .form_group::after {
  content: attr(data-label);
  position: absolute;
  left: 0.5rem;
  top: -0.7rem;
  background-color: #fcfcfc;
  color: #03003e;
  z-index: 3;
  padding: 0 0.5rem;
}
main .main_part#main_part_5 .part_5_content > .part_5_form > .form_button {
  background-color: #000dff;
  font-size: 1.2rem;
  color: #fcfcfc;
  padding: 0.7rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .main_part#main_part_6 {
  background-color: #000 !important;
  background: unset;
  height: 100vh;
  width: 100vw !important;
  position: relative;
  left: -1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .main_part#main_part_6 * {
  color: #fcfcfc;
}
main .main_part#main_part_6 > .part_6_bar {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .main_part#main_part_6 > .part_6_bar > span {
  font-size: 1.7rem;
}
main .main_part#main_part_6 > .part_6_bar > .button_outline {
  border: 1px solid #fcfcfc;
}
main .main_part#main_part_6 > .part_6_header {
  width: 100%;
  padding-top: 7rem;
}
main .main_part#main_part_6 > .part_6_header > h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #fcfcfc;
  width: 100%;
  text-align: center;
}
main .main_part#main_part_6 > .part_6_logo {
  width: 80%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main_part#main_part_6 > .part_6_logo svg {
  height: 95%;
  padding: 1rem;
}
main .main_part#main_part_6 > .part_6_logo svg .cls-1 {
  fill: none;
  stroke: rgba(255, 255, 255, 0.7098039216);
  stroke-miterlimit: 10;
  stroke-width: 2;
}
main .main_part#main_part_6 > .part_6_lower {
  padding: 1rem 1rem;
  padding-top: 3rem;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
main .main_part#main_part_6 > .part_6_lower > .part_6_links {
  width: 100%;
  position: relative;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .main_part#main_part_6 > .part_6_lower > .part_6_links > div {
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
}
main .main_part#main_part_6 > .part_6_lower > .part_6_links > .part_6_line {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fcfcfc;
  height: 2px;
}
main .main_part#main_part_6 > .part_6_lower > .part_6_copyright {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
}
main .main_part#main_part_6 > .part_6_lower > .part_6_copyright > span > a {
  color: #ff3c00;
}/*# sourceMappingURL=style.css.map */