// Imports
@import url('https://fonts.cdnfonts.com/css/neue-plak');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Roots

$primary:#00C4F2;
$secondary:#004FAD;
$tertiary:#94D6EA;
$dark:#00144b;
$light:#fcfcfc;


html{
    @media only screen and (max-width: 1200px) {
        font-size: 16px;
    }
  
    @media only screen and (max-width: 1025px) {
        font-size: 14px;
    }
  
    @media only screen and (max-width: 769px) {
        font-size: 12px;
    }
}

// General

a{
    color:#000;
    text-decoration: none;
    
}

input,textarea{
    outline: none;
    border: none;
}

ul{
    list-style: "-  ";
}

button{
    outline: none;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px ;   /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

// General Classes

.button_outline{
    border: 1px solid $dark;
    padding: .2rem .8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        text-shadow: 0 0 1px $dark;
        box-shadow: 0 0 1px $dark;
    }
}

.button_filled{
    background-color: $dark;
    color: $light;

    
}

.animated_link{
            overflow: hidden;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            >span{
                transition: transform .5s, opacity .3s;
                text-align: center;
            }

            &::before{
                width: 100%;
                text-align: center;
                content: attr(data-content);
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(65%);
                opacity: 0;
                transition: all .5s;
                
            }

            &:hover{
                text-shadow: 0 0 1px $dark;
                
                >span{
                    display: inline-block;
                    transform: translateY(-1rem);
                    opacity: 0;
                    
                }
    
                &::before{
                    transform: translateX(-50%) translateY(0%);
                    opacity: 1;
                }
    
            }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Neue Plak', sans-serif;
    transition: .2s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}



body{
    min-height: 100%;
    width: 100%;
    background: #fbfbfb;
    background: url(/img/bg_zebra.png), linear-gradient(0deg,#ffffff00 0%, #fbfbfb 70%, #00c4f2 90%, #004fad 100%);
    background-size: 70px,auto;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 10rem;
}


nav{
    background-color: $light;
    width: 98%;
    height: 50px;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 2;
    

    >.nav_left{
        >a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: .5rem;

            >img{
                height: 2.5rem;
                object-fit: contain;
            }

            >span{
                font-size: 1.4rem;
            }
        }
    }

    >.nav_middle{
        // display: flex;
        display: none;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        >a{
            @extend .animated_link;
        } 

       
    }

    .nav_right{
        display: none;
        >a{
            @extend .animated_link;
        }
    }

    #menu_button{
        width: 3.5rem;
        aspect-ratio: 1/1;
        transform: translateX(7px);
        
        font-size: 1rem;

       
    }


    @media screen and (min-width: 768px) {
        .nav_middle{
            display: flex;
        }
        .nav_right{
            display: flex;
        }



        #menu_button{
            display: none;
        }
    }
}

main{
    width: calc(100% - 2vw);
    height: calc(100% - 2vw);
    position: relative;
    left: 50%;
    transform:translate(-50% ) ;
    // border: 1px solid $dark;

    .main_part{
        background-color: $light;
        // height: 95vh;
        width: 100%;


        &#main_part_1{
          position: relative;
          height: 100vh;
          background-color: transparent !important;

            .background_image{
                width: 100vw;
                height: 100vh;
                overflow: hidden;
                position: absolute;
                left: 50%;
                bottom: -25%;
                transform: translateX(-50%);
                z-index: -1;

                
               
                >img{
                    width: 100%;
                    object-fit: cover;
                    left: 40%;
                    position: relative;
                    transform: translateX(-50%) translateY(50%) scale(2.5);

                    @media only screen and (min-width: 550px) {
                        transform: translateX(-50%) translateY(15%) scale(1.7) !important;
                    }

                    @media only screen and (min-width: 850px) {
                        transform: translateX(-45%) translateY(-10%) scale(1) !important;
                    }

                    @media only screen and (min-width: 1024px) {
                        transform: translateX(-45%) translateY(-20%) scale(.8) !important;
                    }
                }

            }



            >.banner{
                position: relative;
                top: 15%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap:7rem;
                align-items: center;

                >h1{
                    font-size: 2.8rem;
                    text-align: center;
                    width: 100%;
                    font-weight: 500;
                    color:$dark;
                }

                >a{
                    width: fit-content;
                    transform: scale(1.2);
                    padding: .8rem 2.5rem;
                    transition: .3s;
                    border: 1.5px solid $dark !important;


                    &:hover{
                        background-color: $dark;
                        color: $light;
                        border-radius: 30px;
                        padding: .8rem 3.5rem;
                    }
                }

            }
           
        }


        &#main_part_2{
            background-color: $light;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: url(/img/bg_zebra.png);
            display: flex;
            flex-direction: column;
            padding: 5rem 3rem;

            >.banner{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;    
                gap: 1.5rem;            
                
                >h1{
                    font-size: 2.4rem;
                    font-weight: 600;
                    text-align: center;
                    

                    


                    &:nth-child(2){
                        opacity: .5;
                    }
                    &:nth-child(3){
                        opacity: .3;
                    }
                }
            }

            >.part_header{
                width: 100%;
                margin-top: 7rem;
                font-size: 1.5rem;

                >p{
                    >span{
                        font-weight: 600;
                    }
                }
            }

            >.part_content{
                margin-top: 7rem;
                
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5rem;
                flex-grow: 1;

                >div{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;

                    >h2{
                        font-size: 1.3rem;
                        font-weight: 600;
                    }

                    >p{
                        width: 70%;
                    }

                    &:nth-child(2){
                        align-items: flex-end;
                        text-align: right;
                    }
                }
            }


            @media screen and (min-width: 768px) {
                padding: 5rem 5rem;
                .part_header{
                    width: 70%;
                }

                .part_content{
                    >div{

                        >p{
                            width: 45%;
                        }

                    }
                }
            }

            @media screen and (min-width: 1024px) {
                padding: 5rem 10rem;
                .part_header{
                    width: 55%;
                }

                .part_content{
                    >div{
                        p{
                            width: 40%;
                        }
                    }
                }
            }

        }


        &#main_part_3{
            background-color: $light;
            padding-top: 5rem;
            display: flex;
            flex-direction: column;
            gap: 10rem;

            >.part_3_upper{
                height: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 100%;

                >#part_3_line{
                    font-size: 2.5rem;
                    font-weight: 200;
                    height: 5rem;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }

                >.part_3_names{
                    display: flex;
                    align-items: center;
                    text-align: center;

                    >h1{
                        font-size: 1.2rem;


                        &:nth-child(2){
                            font-size: 1.7rem;
                            font-weight: 600;
                        }
                    }
                }
            }

            .part_3_lower{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6rem;
                padding: 3rem;

                .part_3_content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 6rem;


                    >div{
                        width: 60%;

                        >img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                >.part_3_buttons{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4rem;
                    >span{
                        border-radius: 30px;
                        width: 7rem;
                        padding: .2rem 0;
                        background-color: $dark;
                        color: $light;
                        font-size: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }


            }

        }


        &#main_part_4{
            background-color: $light;
            padding: 2rem;
            padding-top: 7rem;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            

            *{
                position: relative;
            }
     

            >.decoration_box{
                position: absolute !important;
                width: 100%;
                height: 100%;
                z-index: 0 !important;   
                display: none;             
            }

            >.part_4_header{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                >h1{
                    width: 100%;
                    font-size: 2.5rem;
                    font-weight: 500;
                    text-align: right;
                }
            }

            >.part_4_content{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 7rem;

                >h2{
                    font-size: 1.8rem;
                    font-weight: 300;
                    
                }


                >div{
                    display: flex;
                    flex-direction: column;
                    gap:.7rem;
                    h3{
                        font-weight: 500;
                        transform: translateX(-1rem);
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: .7rem;
                    }

                }
            }

            


        }


        &#main_part_5{
            padding-top: 8rem;
            padding-bottom: 4rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            >div{
                width: 100%;
            }

            >.part_5_header{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 3rem;

                >h1{
                    font-size: 2.3rem;
                    font-weight: 600;
                }

                >h2{
                    padding: 0 1rem;
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }

            .part_5_content{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 4rem;
                
                >h3{
                    text-align: center;
                    font-weight: 600;
                }


                >.part_5_form{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 0 3rem;

                    >.form_group{
                        width: 100%;
                        position: relative;
                        
                        >input,textarea{
                            width: 100%;
                            padding: .8rem .5rem;
                            border: 1px solid $dark;
                            font-size: 1.2rem;
                            border-radius: 8px;
                            background-color: transparent;
                            position: relative;


                           
                
                        }

                        &::after{
                            content: attr(data-label);
                            position: absolute;
                            left: .5rem;
                            top: -.7rem;
                            background-color: $light;
                            color: $dark;
                            z-index: 3;
                            padding: 0 .5rem;
                            
                        }


                    }

                    >.form_button{
                        background-color: $dark;
                        font-size: 1.2rem;
                        color: $light;
                        padding: .7rem 1.5rem ;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                    }
                    

                }
            }

        }
    }


}





















































































































// // FONT FACES

// /* #### Generated By: http://font.download #### */

//     @font-face {
//     font-family: 'Neue Plak Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Regular'), url('Neue Plak Regular.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Black'), url('Neue Plak Black.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Bold'), url('Neue Plak Bold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Black'), url('Neue Plak Condensed Black.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Bold'), url('Neue Plak Condensed Bold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Extra Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Extra Black'), url('Neue Plak Condensed ExtraBlack.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Light'), url('Neue Plak Condensed Light.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed'), url('Neue Plak Condensed Regular.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed SemiBold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed SemiBold'), url('Neue Plak Condensed SemiBold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Thin';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Thin'), url('Neue Plak Condensed Thin.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Ultra Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Ultra Light'), url('Neue Plak Condensed UltraLight.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Black'), url('Neue Plak Extended Black.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Bold'), url('Neue Plak Extended Bold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Extra Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Extra Black'), url('Neue Plak Extended ExtraBlack.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Light'), url('Neue Plak Extended Light.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended'), url('Neue Plak Extended Regular.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Semi Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Semi Bold'), url('Neue Plak Extended SemiBold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Thin';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Thin'), url('Neue Plak Extended Thin.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Ultra Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Ultra Light'), url('Neue Plak Extended UltraLight.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extra Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extra Black'), url('Neue Plak ExtraBlack.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Light'), url('Neue Plak Light.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak SemiBold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak SemiBold'), url('Neue Plak SemiBold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Black'), url('Neue Plak Text Black.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Bold'), url('Neue Plak Text Bold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Light'), url('Neue Plak Text Light.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text SemiBold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text SemiBold'), url('Neue Plak Text SemiBold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Thin';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Thin'), url('Neue Plak Text Thin.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Thin';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Thin'), url('Neue Plak Thin.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Ultra Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Ultra Light'), url('Neue Plak UltraLight.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Black Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Black Italic'), url('Neue Plak Text Black Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Bold Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Bold Italic'), url('Neue Plak Text Bold Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Italic'), url('Neue Plak Text Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Light Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Light Italic'), url('Neue Plak Text Light Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text SemiBold Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text SemiBold Italic'), url('Neue Plak Text SemiBold Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Thin Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Thin Italic'), url('Neue Plak Text Thin Italic.woff') format('woff');
//     }

