// Imports
@import url('https://fonts.cdnfonts.com/css/neue-plak');
@import url('https://fonts.cdnfonts.com/css/gt-america-trial');
@import url('https://fonts.cdnfonts.com/css/futura-std-4');
@import url('https://fonts.cdnfonts.com/css/graphik-trial');
@import url('https://fonts.cdnfonts.com/css/montserrat');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// Roots

$primary:#243eff;
$secondary:#0073ff;
$tertiary:#e2e8ff;
$dark:#00013e;
$accent:#000dff;
$light:#fcfcfc;


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
  }

html{
    @media only screen and (max-width: 1200px) {
        font-size: 16px;
    }
  
    @media only screen and (max-width: 1025px) {
        font-size: 14px;
    }
  
    @media only screen and (max-width: 769px) {
        font-size: 13px;
    }
}

// General

a{
    color:#000;
    text-decoration: none;
    
}

input,textarea{
    outline: none;
    border: none;
}

ul{
    list-style: "-  ";
}

button{
    outline: none;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px ;   /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

// General Classes

.button_outline{
    border: 1px solid $dark;
    padding: .2rem .8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        text-shadow: 0 0 1px $dark;
        box-shadow: 0 0 1px $dark;
    }
}

.button_filled{
    background-color: $dark;
    color: $light;

    
}

.animated_link{
            overflow: hidden;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            >span{
                transition: transform .5s, opacity .3s;
                text-align: center;
            }

            &::before{
                width: 100%;
                text-align: center;
                content: attr(data-content);
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(65%);
                opacity: 0;
                transition: all .5s;
                
            }

            &:hover{
                text-shadow: 0 0 1px $dark;
                
                >span{
                    display: inline-block;
                    transform: translateY(-1rem);
                    opacity: 0;
                    
                }
    
                &::before{
                    transform: translateX(-50%) translateY(0%);
                    opacity: 1;
                }
    
            }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    // font-family: "Poppins", sans-serif;
    // font-family: 'Neue Plak', sans-serif;
    // font-family: 'GT America Trial', sans-serif;
    // font-family: 'Futura Std', sans-serif;
    // font-family: 'Graphik Trial', sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    font-weight: 500;
}



body{
    min-height: 100%;
    width: 100%;
    background: #fbfbfb;
    background: url(/img/bg_zebra.png), linear-gradient(180deg,#ffffff00 0%, #fbfbfb 8%, $primary 20%, $secondary 100%);
    background-size: 70px,auto;
    overflow-x: hidden ;
    position: relative;

  
}


// Addition Pages

#request_project{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    z-index: 20 !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $light;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    opacity: 0;
        

    >.close_circle{
        position: absolute;
        top: 3rem;
        right: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 10px;
        background-color: $dark;
        align-items: center;
        justify-content: center;
        


        >span.material-symbols-outlined{
            color:$light;
            font-size: 2.5rem;
        }
    }

    &.opened_req_proj{
        display: flex;

        animation: open_request_page .3s linear forwards;

        @keyframes open_request_page {
            0%{
                display: none;
                opacity: 0;
            }
            1%{
                display: flex;
                opacity: 0;
            }

            100%{
                display: flex;
                opacity: 1;
            }
        }
    }

    >h1{
        font-size: 2rem;
        font-weight: 500;

        >span{
            text-decoration: underline;
            text-decoration-color: $accent;
            font-weight: 700;
        }
    }


    >form{
        background-color: $dark;
        width: 98%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 2rem;
        border-radius: 10px;

        >.req_form_group{
            width: 100%;
            position: relative;
            
            >input,textarea{
                width: 100%;
                padding: 1rem 1rem;
                font-size: 1.2rem;
                border-radius: 8px;
                background-color: transparent;
                position: relative;
                background-color: $light;



               
    
            }

            &::after{
                content: attr(data-label);
                position: absolute;
                left: 0rem;
                top: -1.4rem;
                z-index: 3;
                padding: 0 .5rem;
                font-weight: 500;
                color: $light;
                
            }
        }

        >button{
            padding: 1rem;
        }
    }


    >.request_part_bar{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        >.req_bar_right{
            text-align: right;
        }
    }
}

nav{
    background-color: transparent;
    width: 94%;
    height: 54px;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem .3rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: $light;

    
   // Animation
   animation: nav_late .7s forwards;
   opacity: 0;
   transform: translateY(-2rem) translateX(-50%);
   animation-delay: 2.3s;

   @keyframes nav_late {
       to{
           opacity: 1;
           transform: translateY(0) translateX(-50%);
       }
   }                 
    

    >.nav_left{
        height: 3.5rem;
        padding-left: .3rem;
        
        border-radius: 10px;
        >a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: .5rem;
            >img{
                height: 3.2rem;
                object-fit: contain;
            }

            >div{
                height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;            
    
                >span{
                    font-size: 1.4rem;
                }

                >P{
                    font-size: .8rem;
                }
            }

           
        }
    }

    >.nav_middle{
        // display: flex;
        display: none;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        >a{
            @extend .animated_link;
        } 

       
    }

    .nav_right{
        display: none;
        >a{
            @extend .animated_link;
        }
    }

    #menu_button{
        width: 3.5rem;
        aspect-ratio: 1/1;
        background-color: $light !important;
        gap: .3rem;
        position: relative;
        transition: .5s;

        >*{
            color:$dark;
            font-size: 3rem;
            position: absolute;
            --ionicon-stroke-width: 24.5px;
            
        }

        >*:nth-child(2){
            opacity: 0;
        }

        >div{
            width: 90%;
            height: 90%;
            margin: 1px 0;
            position: relative;
            >span{
                display: inline-block;
                width: 4px;
                height: 4px;
                border-radius: 2px;
                background-color: $dark;
                position: absolute;

                $ss:.8rem;

                &:nth-child(1){top: $ss;left: $ss;}
                &:nth-child(2){bottom: $ss;left: $ss;}
                &:nth-child(3){bottom: $ss;right: $ss;}
                &:nth-child(4){top: $ss;right: $ss;}
                
            }


        }
        

        &.opened_menu_button{

            >*:nth-child(2){
                opacity: 1;
            }

            >*:nth-child(1){
                opacity: 0;
            }

          
            
            



        }

       
    }


    >menu{
        width: 100%;
        background-color: $light;
        position: absolute;
        top: 60px;
        border-radius: 8px;
        left: 0;
        padding: 1rem;
        overflow: hidden;
        transition: .5s;
        transform: translateY(1rem) rotate(-2deg);
        opacity: 0;
        display: none;

        &.opened_menu{
            display: block;
            animation: menu_open .5s forwards;
           
            @keyframes menu_open {
                from{
                    opacity: 0;
                    transform: translateY(1rem) rotate(-2deg);
                }
                to{
                    transform: translateY(0) rotate(0deg);
                    opacity: 1;
                }
            }
        }

        >.menu_decoration{
            width: 35%;
            position: absolute;
            right: 0rem;
            top: -3rem;
            transform: rotate(-135deg);


            >svg{
                .cls-1 {
                    fill: none;
                    stroke: #001b8e;
                    stroke-miterlimit: 10;
                    stroke-width: .75px;
                  }
            }

        }

        >.menu_upper{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 1rem;
            margin-top: 2rem;

            >a{
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        >.menu_lower{
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;


            >.menu_line{
                position: absolute;
                left: 0;
                width: 100%;
                height: 1.2px;
                top: -.5rem;
                background-color: $dark;
            }
        }
    }


    @media screen and (min-width: 768px) {
        .nav_middle{
            display: flex;
        }
        .nav_right{
            display: flex;
        }



        #menu_button{
            display: none;
        }
    }
}




// SPACE THINGS 

// main part 1


.main_part_1_space{
    height: 200vh;
}


 #main_part_1{
          position: fixed;
          width: 100%;
          top: 0;
          height: 100vh;
          background-color: transparent !important;
          background: unset !important;
          


          &::before{
            content:"";
            background-color: $light;
            opacity: 1;
            width: 100vw;
            height: 102vh;
            transform: translateX(0vw) translateY(-1vh);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -2;
            animation: animate_part_1_bg 2s forwards linear;
            animation-delay: 1.5s;

            @keyframes animate_part_1_bg {
                to{
                    opacity: .4;
                }
            }

          }

         >*{
            opacity: 0;
         }

            .background_image{
                width: 100vw;
                height: 100vh;
                overflow: hidden;
                position: absolute;
                left: 50%;
                bottom: -40%;
                transform: translateX(-50%);
                z-index: -1;
                opacity: 1;

                
                

                
               
                >img{
                    width: 100%;
                    object-fit: cover;
                    left: 40%;
                    position: relative;
                    transform: translateX(-50%) translateY(50%) scale(2.5);

                    @media only screen and (min-width: 550px) {
                        transform: translateX(-50%) translateY(15%) scale(1.7) !important;
                    }

                    @media only screen and (min-width: 850px) {
                        transform: translateX(-45%) translateY(-10%) scale(1) !important;
                    }

                    @media only screen and (min-width: 1024px) {
                        transform: translateX(-45%) translateY(-20%) scale(.8) !important;
                    }
                }

                >svg{
                    width: 100%;
                    object-fit: cover;
                    left: 40%;
                    position: relative;
                    transform: translateX(-50%) translateY(50%) scale(2);
                    .cls-1{fill:none;stroke:$primary;stroke-width: 3px; stroke-miterlimit:10}

                    // Svg Animation
                    stroke-dasharray: 1000;
                    stroke-dashoffset: 1000;
                    pointer-events: none;
                    animation: animateDash 4s linear forwards;
                    @keyframes animateDash {
                        to {
                          stroke-dashoffset: 0;
                        }
                      }

                    


                    @media only screen and (min-width: 550px) {
                        transform: translateX(-50%) translateY(15%) scale(1.7) !important;
                    }

                    @media only screen and (min-width: 850px) {
                        transform: translateX(-45%) translateY(-10%) scale(1) !important;
                    }

                    @media only screen and (min-width: 1024px) {
                        transform: translateX(-45%) translateY(-20%) scale(.8) !important;
                    }
                    
                }

            }



            >.banner{
                position: relative;
                top: 25%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap:7rem;
                align-items: center;
                opacity: 1;

               


                >h1{
                    >span{ 
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        top: -1rem;
                          
                        font-size: inherit;
                        font-weight: 700;

                        &.banner_added{
                            opacity: 1;
                            top: -4rem;
                        }

                        &.banner_passive{
                            opacity: 0 !important;
                        }

                        
                    }

                    font-size: 2.8rem;
                    text-align: center;
                    width: 100%;
                    font-weight: 600;
                    color:$dark;
                    position: relative;

                    // Animation
                    animation: banner_late 1s forwards;
                    opacity: 0;
                    transform: translateY(1rem);
                    animation-delay: 2s;
    
                    @keyframes banner_late {
                        to{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }

                >button{
                    width: fit-content;
                    transform: scale(1.2);
                    padding: .8rem 4rem;
                    transition: .3s;
                    border: 1px solid $dark;
                    background-color: $light;
                    opacity: 0;
                    border-radius: 7px;
                    
                     // Animation
                     animation: banner_late 1s forwards;
                     opacity: 0;
                     transform: translateY(1rem);
                     animation-delay: 2.5s;
     
                     @keyframes banner_late {
                         to{
                             opacity: 1;
                             transform: translateY(0);
                         }
                     }

                    &:hover{
                        background-color: $dark;
                        color: $light;
                        border-radius: 30px;
                        padding: .8rem 3.5rem;
                    }
                }

            }
           
        }

main{
    width: calc(100% - 2vw);
    height: calc(100% - 2vw);
    position: relative;
    left: 50%;
    transform:translate(-50% ) ;
    // border: 1px solid $dark;

    .main_part{
        background-color: $light;
        // height: 95vh;
        width: 100%;


        &:nth-child(odd){
            background: #ffffff;
            background: -webkit-linear-gradient(0deg, #ffffff 0%,  $tertiary 100%);
            background: linear-gradient(0deg, #ffffff 60%, $tertiary 100%);
            
        }

        &:nth-child(even){
            background: #7be5ff;
            background: -webkit-linear-gradient(0deg,  $tertiary 0%, #ffffff 100%);
            background: linear-gradient(0deg,  $tertiary 0%, #ffffff 100%);
        }



        &#main_part_1{
          position: fixed;
          top: 0;
          height: 100vh;
          background-color: transparent !important;
          background: unset !important;
          


          &::before{
            content:"";
            background-color: $light;
            opacity: 1;
            width: 100vw;
            height: 102vh;
            transform: translateX(-1vw) translateY(-1vh);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -2;
            animation: animate_part_1_bg 2s forwards linear;
            animation-delay: 1.5s;

            @keyframes animate_part_1_bg {
                to{
                    opacity: .4;
                }
            }

          }

         >*{
            opacity: 0;
         }

            .background_image{
                width: 100vw;
                height: 100vh;
                overflow: hidden;
                position: absolute;
                left: 50%;
                bottom: -32%;
                transform: translateX(-50%);
                z-index: -1;
                opacity: 1;

                
                

                
               
                >img{
                    width: 100%;
                    object-fit: cover;
                    left: 40%;
                    position: relative;
                    transform: translateX(-50%) translateY(50%) scale(2.5);

                    @media only screen and (min-width: 550px) {
                        transform: translateX(-50%) translateY(15%) scale(1.7) !important;
                    }

                    @media only screen and (min-width: 850px) {
                        transform: translateX(-45%) translateY(-10%) scale(1) !important;
                    }

                    @media only screen and (min-width: 1024px) {
                        transform: translateX(-45%) translateY(-20%) scale(.8) !important;
                    }
                }

                >svg{
                    width: 100%;
                    object-fit: cover;
                    left: 40%;
                    position: relative;
                    transform: translateX(-50%) translateY(50%) scale(2);
                    .cls-1{fill:none;stroke:$primary;stroke-width: 3px; stroke-miterlimit:10}

                    // Svg Animation
                    stroke-dasharray: 1000;
                    stroke-dashoffset: 1000;
                    pointer-events: none;
                    animation: animateDash 4s linear forwards;
                    @keyframes animateDash {
                        to {
                          stroke-dashoffset: 0;
                        }
                      }

                    


                    @media only screen and (min-width: 550px) {
                        transform: translateX(-50%) translateY(15%) scale(1.7) !important;
                    }

                    @media only screen and (min-width: 850px) {
                        transform: translateX(-45%) translateY(-10%) scale(1) !important;
                    }

                    @media only screen and (min-width: 1024px) {
                        transform: translateX(-45%) translateY(-20%) scale(.8) !important;
                    }
                    
                }

            }



            >.banner{
                position: relative;
                top: 15%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap:7rem;
                align-items: center;
                opacity: 1;

               


                >h1{
                    font-size: 2.8rem;
                    text-align: center;
                    width: 100%;
                    font-weight: 600;
                    color:$dark;

                    // Animation
                    animation: banner_late 1s forwards;
                    opacity: 0;
                    transform: translateY(1rem);
                    animation-delay: 2s;
    
                    @keyframes banner_late {
                        to{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }

                >button{
                    width: fit-content;
                    transform: scale(1.2);
                    padding: .8rem 4rem;
                    transition: .3s;
                    border: 1px solid $dark;
                    background-color: $light;
                    opacity: 0;
                    border-radius: 7px;
                    
                     // Animation
                     animation: banner_late 1s forwards;
                     opacity: 0;
                     transform: translateY(1rem);
                     animation-delay: 2.5s;
     
                     @keyframes banner_late {
                         to{
                             opacity: 1;
                             transform: translateY(0);
                         }
                     }

                    &:hover{
                        background-color: $dark;
                        color: $light;
                        border-radius: 30px;
                        padding: .8rem 3.5rem;
                    }
                }

            }
           
        }


        &#main_part_2{
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 5rem 3rem;

            >.banner{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;    
                gap: 1.5rem;            
                
                >h1{
                    font-size: 2.4rem;
                    font-weight: 600;
                    text-align: center;
                    

                    


                    &:nth-child(2){
                        opacity: .5;
                    }
                    &:nth-child(3){
                        opacity: .3;
                    }
                }
            }

            >.part_header{
                width: 100%;
                margin-top: 7rem;
                font-size: 1.5rem;

                >p{
                    >span{
                        font-weight: 600;
                    }
                }
            }

            >.part_content{
                margin-top: 7rem;
                
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5rem;
                flex-grow: 1;

                >div{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;

                    >h2{
                        font-size: 1.3rem;
                        font-weight: 600;
                    }

                    >p{
                        width: 70%;
                    }

                    &:nth-child(2){
                        align-items: flex-end;
                        text-align: right;
                    }
                }
            }


            @media screen and (min-width: 768px) {
                padding: 5rem 5rem;
                .part_header{
                    width: 70%;
                }

                .part_content{
                    >div{

                        >p{
                            width: 45%;
                        }

                    }
                }
            }

            @media screen and (min-width: 1024px) {
                padding: 5rem 10rem;
                .part_header{
                    width: 55%;
                }

                .part_content{
                    >div{
                        p{
                            width: 40%;
                        }
                    }
                }
            }

        }


        &#main_part_3{
            background: unset;
            background-color: $primary !important;
            padding-top: 5rem;
            padding-bottom: 5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            color: $light;

            >.part_3_upper{
                height: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 100%;

                >#part_3_line{
                    font-size: 2.5rem;
                    font-weight: 200;
                    height: 5rem;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }

                >.part_3_names{
                    display: flex;
                    align-items: center;
                    text-align: center;

                    >h1{

                        width: 33%;


                        &.slider_header_none{
                            display: none;
                        }

                        &.slider_header_passive{
                          
                                font-size: 1rem;
                                font-weight: 500;

                                animation:slider_header_passive .7s forwards ;

                                @keyframes slider_header_passive {
                                    0%{
                                        opacity: 0;
                                    }
                                    50%{
                                        opacity: 0;
                                    }
                                    100%{
                                        opacity: 1;
                                    }

                                }
                        }

                        &.slider_header_active{
                            font-size: 1.4rem;
                            font-weight: 700;
                            animation:slider_header_active .7s forwards ;

                            @keyframes slider_header_active {
                                0%{
                                    opacity: 0;
                                }
                                50%{
                                    opacity: 0;
                                }
                                100%{
                                    opacity: 1;
                                }

                            }
                        }
                       


                       
                    }
                }
            }

            .part_3_lower{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4rem;
                padding: 0 3rem;

                .part_3_content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 4rem;
                    

                    &.slider_content_none{
                        display: none;
                    }

                    &.slider_content_visible{
                        >p{
                            font-size: 1.2rem;
                            animation: slider_content_p 1s forwards;

                            @keyframes slider_content_p {
                                0%{
                                    opacity: 0;
                                    transform: translateY(1rem);
                                }
                                100%{
                                    opacity: 1;
                                    transform: translateY(0);
                                }
                            }

                            
                        }


                        >div{

                            height: 30vh !important;
                            width: 70%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // background-color: $primary;
                            >svg{
                                height: 70%;
                                .cls-1 {
                                    fill: none;
                                    stroke: $light;
                                    stroke-miterlimit: 50;
                                    stroke-width: 4px;
                                  }
                                     // Svg Animation
                                    stroke-dasharray: 1000;
                                    stroke-dashoffset: 1000;
                                    pointer-events: none;
                                    animation: animateDash 2s linear forwards;
                                    @keyframes animateDash {
                                        to {
                                        stroke-dashoffset: 0;
                                        }
                                    }

                            }
                        }
                        
                    }

                }

                >.part_3_buttons{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4rem;
                    >span{
                        border-radius: 30px;
                        width: 7rem;
                        padding: .2rem 0;
                        background-color: $light;
                        color: $accent;
                        font-size: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }


            }

        }


        &#main_part_4{
            background-color: $light;
            padding: 2rem;
            padding-top: 4rem;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            

            *{
                position: relative;
            }
     

            >.decoration_box{
                position: absolute !important;
                width: 100%;
                height: 100%;
                z-index: 0 !important;
                

                >div{
                    position: absolute;

                    >svg{
                        .cls-1 {
                            fill: none;
                            stroke: #000fb0;
                            stroke-miterlimit: 10;
                            stroke-width: 1px;
                          }
                    
                          .cls-2 {
                            isolation: isolate;
                          }
                    }

                }

                >div:nth-child(1){
                    width: 32%;
                    left: -4rem;
                    top: 3rem;
                }
                >div:nth-child(2){
                    width: 35%;
                    right: -1rem;
                    bottom: 7rem;
                }

            }

            >.part_4_header{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                >h1{
                    width: 100%;
                    font-size: 2.5rem;
                    font-weight: 500;
                    text-align: right;
                }
            }

            >.part_4_content{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 7rem;

                >h2{
                    font-size: 1.8rem;
                    font-weight: 300;
                    
                }


                >div{
                    display: flex;
                    flex-direction: column;
                    gap:.7rem;
                    h3{
                        font-weight: 500;
                        transform: translateX(-1rem);
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: .7rem;
                    }

                }
            }

            


        }


        &#main_part_5{
            padding-top: 8rem;
            padding-bottom: 4rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            >div{
                width: 100%;
            }

            >.part_5_header{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 3rem;

                >h1{
                    font-size: 2.3rem;
                    font-weight: 600;
                }

                >h2{
                    padding: 0 1rem;
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }

            .part_5_content{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 4rem;
                
                >h3{
                    text-align: center;
                    font-weight: 600;
                }


                >.part_5_form{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 0 3rem;

                    >.form_group{
                        width: 100%;
                        position: relative;
                        
                        >input,textarea{
                            width: 100%;
                            padding: 1rem 1rem;
                            border: 1px solid $dark;
                            font-size: 1.2rem;
                            border-radius: 8px;
                            background-color: transparent;
                            position: relative;


                           
                
                        }

                        &::after{
                            content: attr(data-label);
                            position: absolute;
                            left: .5rem;
                            top: -.7rem;
                            background-color: $light;
                            color: $dark;
                            z-index: 3;
                            padding: 0 .5rem;
                            
                        }


                    }

                    >.form_button{
                        background-color: $accent;
                        font-size: 1.2rem;
                        color: $light;
                        padding: .7rem 1.5rem ;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                    }
                    

                }
            }

        }


        &#main_part_6{

            background-color: #000 !important;
            background: unset;
            height: 100vh;
            width: 100vw !important;
            position: relative;
            left: -1vw;
            display: flex;
            align-items: center;
            flex-direction: column;

            *{
                color: $light;
            }


            >.part_6_bar{
                padding: 1rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                >span{
                    font-size: 1.7rem;
                }

                >.button_outline{
                    border: 1px solid $light;
                }
            }

            >.part_6_header{
                width: 100%;
                padding-top: 7rem;
                
                >h1{
                    font-size: 4rem;
                    font-weight: 500;
                    color: $light;

                    width: 100%;
                    text-align: center;
                }
            }



            >.part_6_logo{
                width: 80%;
                height: 45%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg{
                    height: 95%;
                    padding: 1rem;

                    .cls-1 {
                        fill: none;
                        stroke: #ffffffb5;
                        stroke-miterlimit: 10;
                        stroke-width: 2;
                      }
                }

            }

            >.part_6_lower{
                padding: 1rem 1rem;
                padding-top: 3rem;
                width: 100%;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;


                >.part_6_links{
                    width: 100%;
                    position: relative;
                    padding-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    >div{
                        font-size: .8rem;
                        display: flex;
                        gap: 1rem;
                    }


                    >.part_6_line{
                        position: absolute;
                        top: 0;
                        width: 100%;
                        background-color: $light;
                        height: 2px;
                    }
                }


                >.part_6_copyright{
                    width: 100%;
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-between;
                    align-items: flex-end;
                    

                    >span{


                        >a{
                            color: #ff3c00;
                        }
                    }
                }
            }


        }
    }


}





















































































































// // FONT FACES

// /* #### Generated By: http://font.download #### */

//     @font-face {
//     font-family: 'Neue Plak Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Regular'), url('Neue Plak Regular.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Black'), url('Neue Plak Black.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Bold'), url('Neue Plak Bold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Black'), url('Neue Plak Condensed Black.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Bold'), url('Neue Plak Condensed Bold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Extra Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Extra Black'), url('Neue Plak Condensed ExtraBlack.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Light'), url('Neue Plak Condensed Light.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed'), url('Neue Plak Condensed Regular.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed SemiBold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed SemiBold'), url('Neue Plak Condensed SemiBold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Thin';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Thin'), url('Neue Plak Condensed Thin.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Condensed Ultra Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Condensed Ultra Light'), url('Neue Plak Condensed UltraLight.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Black'), url('Neue Plak Extended Black.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Bold'), url('Neue Plak Extended Bold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Extra Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Extra Black'), url('Neue Plak Extended ExtraBlack.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Light'), url('Neue Plak Extended Light.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended'), url('Neue Plak Extended Regular.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Semi Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Semi Bold'), url('Neue Plak Extended SemiBold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Thin';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Thin'), url('Neue Plak Extended Thin.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extended Ultra Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extended Ultra Light'), url('Neue Plak Extended UltraLight.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Extra Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Extra Black'), url('Neue Plak ExtraBlack.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Light'), url('Neue Plak Light.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak SemiBold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak SemiBold'), url('Neue Plak SemiBold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Black';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Black'), url('Neue Plak Text Black.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Bold'), url('Neue Plak Text Bold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Light'), url('Neue Plak Text Light.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text SemiBold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text SemiBold'), url('Neue Plak Text SemiBold.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Thin';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Thin'), url('Neue Plak Text Thin.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Thin';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Thin'), url('Neue Plak Thin.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Ultra Light';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Ultra Light'), url('Neue Plak UltraLight.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Black Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Black Italic'), url('Neue Plak Text Black Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Bold Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Bold Italic'), url('Neue Plak Text Bold Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Italic'), url('Neue Plak Text Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Light Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Light Italic'), url('Neue Plak Text Light Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text SemiBold Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text SemiBold Italic'), url('Neue Plak Text SemiBold Italic.woff') format('woff');
//     }
    

//     @font-face {
//     font-family: 'Neue Plak Text Thin Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Neue Plak Text Thin Italic'), url('Neue Plak Text Thin Italic.woff') format('woff');
//     }

