@media only screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1025px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 769px) {
  html {
    font-size: 11px;
  }
}

a {
  color: #000;
  text-decoration: none;
}

.button_outline {
  border: 1px solid #00144b;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_outline:hover {
  text-shadow: 0 0 1px #00144b;
  box-shadow: 0 0 1px #00144b;
}

.animated_link, nav .nav_right > a, nav > .nav_middle > a {
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.animated_link > span, nav .nav_right > a > span, nav > .nav_middle > a > span {
  transition: transform 0.5s, opacity 0.3s;
  text-align: center;
}
.animated_link::before, nav .nav_right > a::before, nav > .nav_middle > a::before {
  width: 100%;
  text-align: center;
  content: attr(data-content);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65%);
  opacity: 0;
  transition: all 0.5s;
}
.animated_link:hover, nav .nav_right > a:hover, nav > .nav_middle > a:hover {
  text-shadow: 0 0 1px #00144b;
}
.animated_link:hover > span, nav .nav_right > a:hover > span, nav > .nav_middle > a:hover > span {
  display: inline-block;
  transform: translateY(-1rem);
  opacity: 0;
}
.animated_link:hover::before, nav .nav_right > a:hover::before, nav > .nav_middle > a:hover::before {
  transform: translateX(-50%) translateY(0%);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  font-family: "Neue Plak Regular";
}

body {
  min-height: 100%;
  width: 100%;
  background: #fbfbfb;
  background: url(/img/bg_zebra.png), linear-gradient(35deg, rgba(255, 255, 255, 0) 20%, #fbfbfb 50%, #00c4f2 75%, #004fad 100%);
  background-size: 70px, auto;
  overflow-x: hidden;
  position: relative;
}

nav {
  background-color: #f6f6f6;
  width: 97%;
  height: 50px;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 2;
}
nav > .nav_left > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
nav > .nav_left > a > img {
  height: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
nav > .nav_left > a > span {
  font-size: 1.4rem;
}
nav > .nav_middle {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
main {
  width: calc(100% - 2vw);
  height: calc(100% - 2vw);
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
main .main_part {
  height: 95vh;
  width: 100%;
}
main .main_part#main_part_1 {
  position: relative;
}
main .main_part#main_part_1 .background_image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
  z-index: -1;
}
main .main_part#main_part_1 .background_image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 40%;
  position: relative;
  transform: translateX(-50%) translateY(50%) scale(2.5);
}
main .main_part#main_part_1 > .banner {
  position: relative;
  top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
main .main_part#main_part_1 > .banner > h1 {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  font-family: "Neue Plak Regular";
}
main .main_part#main_part_1 > .banner > a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transform: scale(1.2);
  padding: 0.8rem 2.5rem;
  transition: 0.3s;
}
main .main_part#main_part_1 > .banner > a:hover {
  background-color: #00144b;
  color: #f6f6f6;
  border-radius: 30px;
  padding: 0.8rem 3.5rem;
}
main .main_part#main_part_2 {
  background-color: #f6f6f6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* #### Generated By: http://font.download #### */
@font-face {
  font-family: "Neue Plak Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Regular"), url("Neue Plak Regular.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Black";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Black"), url("Neue Plak Black.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Bold"), url("Neue Plak Bold.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Condensed Black";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Condensed Black"), url("Neue Plak Condensed Black.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Condensed Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Condensed Bold"), url("Neue Plak Condensed Bold.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Condensed Extra Black";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Condensed Extra Black"), url("Neue Plak Condensed ExtraBlack.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Condensed Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Condensed Light"), url("Neue Plak Condensed Light.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Condensed"), url("Neue Plak Condensed Regular.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Condensed SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Condensed SemiBold"), url("Neue Plak Condensed SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Condensed Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Condensed Thin"), url("Neue Plak Condensed Thin.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Condensed Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Condensed Ultra Light"), url("Neue Plak Condensed UltraLight.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extended Black";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extended Black"), url("Neue Plak Extended Black.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extended Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extended Bold"), url("Neue Plak Extended Bold.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extended Extra Black";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extended Extra Black"), url("Neue Plak Extended ExtraBlack.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extended Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extended Light"), url("Neue Plak Extended Light.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extended";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extended"), url("Neue Plak Extended Regular.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extended Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extended Semi Bold"), url("Neue Plak Extended SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extended Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extended Thin"), url("Neue Plak Extended Thin.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extended Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extended Ultra Light"), url("Neue Plak Extended UltraLight.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Extra Black";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Extra Black"), url("Neue Plak ExtraBlack.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Light"), url("Neue Plak Light.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak SemiBold"), url("Neue Plak SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Black";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Black"), url("Neue Plak Text Black.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Bold"), url("Neue Plak Text Bold.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Light"), url("Neue Plak Text Light.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text SemiBold"), url("Neue Plak Text SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Thin"), url("Neue Plak Text Thin.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Thin"), url("Neue Plak Thin.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Ultra Light"), url("Neue Plak UltraLight.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Black Italic"), url("Neue Plak Text Black Italic.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Bold Italic"), url("Neue Plak Text Bold Italic.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Italic"), url("Neue Plak Text Italic.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Light Italic"), url("Neue Plak Text Light Italic.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text SemiBold Italic"), url("Neue Plak Text SemiBold Italic.woff") format("woff");
}
@font-face {
  font-family: "Neue Plak Text Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Plak Text Thin Italic"), url("Neue Plak Text Thin Italic.woff") format("woff");
}
/*# sourceMappingURL=style.css.map */